header {
  justify-content: space-between;
  padding: 0.625rem;
  height: 58px; /* 18px + 1.25rem padding on top & bottom */
}

.logoButton,
.logoButton:visited {
  margin-left: 0.625rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.logoButton:hover,
.logoButton:active {
  color: var(--secondary-color-dark);
}

.title {
  font-size: var(--default-font-size);
}

.closeButton {
  align-self: flex-start;
  padding: 1px 6px 1px 10px;
}
