header {
    justify-content: space-between;
    padding: 0.625rem 0.625rem;
    height: 58px; /* 18px + 1.25rem padding on top & bottom */
}

.logo {
    margin-left: 0.625rem;
}

.title {
    color: var(--text-color-muted);
    font-size: var(--default-font-size);
}

.closeButton {
    align-self: flex-start;
    padding: 1px 6px 1px 10px;
}